<script type="text/javascript">
var submitted=false;
</script>
<div class="jumbotron">
<form action="http://powerful-depths-1407.herokuapp.com/" method="post" class="form-horizontal submission-form" role="form">

  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <textarea name="address"
                id="address"
                rows="6"
                class="form-control"
                required=""></textarea>
    </div>
  </div>

  <div class="form-group" style="display: none">
    <!-- Honeypot to catch spam -->
    <label for="agree_to_terms" class="col-sm-2 control-label">Leave this blank</label>
    <div class="col-sm-10">
      <input name="agree_to_terms" id="agree_to_terms" class="form-control" type="text"></input>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit this address</button>
      <a data-toggle="collapse" data-target="#submission-guidelines"><small>Read the submission guidelines</small></a>
    </div>
  </div>
  <div id="submission-guidelines" class="form-group collapse">
    <label class="col-sm-2 control-label">Guidelines</label>
    <div class="col-sm-10 smallprint">
      <p>
        We do not want to receive any names in the submission, other than any company name that may form part of the address. The Open Addresses data that we publish will be about locations, not about people.
      </p>
      <p>
        Please be sure not to violate others' intellectual property or privacy rights with your submission. If you think your Intellectual Property rights are being infringed then please <a href="mailto:team@openaddressesuk.org">email us</a> describing the data that you believe is affected.
      </p>
      <p>
        When you submit an address we will capture some additional information: specifically the IP address that you are currently using. This information is used to track submissions and as part of our processes to track provenance and to remove any data that is unlawful. Find out more about our <a href="/about/data/privacy">privacy policy</a>.
      </p>
      <p>
        By submitting an address you are saying that Open Addresses Limited can re-use the address and publish it under an open data licence. You are saying that the publication of the address by Open Addresses Limited or third parties does not and will not infringe any of your legal rights or those of any third party. 
      </p>
    </div>
  </div>

  </form>
</div>
