---
http_interactions:
- request:
    method: get
    uri: https://s3-eu-west-1.amazonaws.com/<MONGOID_ENVIRONMENT>.openaddressesuk.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS <AWS_ACCESS_KEY>:et1LWZEtteBeZenKTJYhrXmCjOg=
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - F045A24CA3A961A8
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name><MONGOID_ENVIRONMENT>.openaddressesuk.org</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>2014-01-01-openaddressesuk-addresses-only-split.csv.zip</Key><LastModified>2015-03-31T14:39:08.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>6ebddfb040c4de581424d5a5896f3df8cd8cc0678725054d612ebda6746cf958</ID><DisplayName>tech</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>2014-01-01-openaddressesuk-addresses-only-split.json.zip</Key><LastModified>2015-03-31T14:39:10.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>6ebddfb040c4de581424d5a5896f3df8cd8cc0678725054d612ebda6746cf958</ID><DisplayName>tech</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>2014-01-01-openaddressesuk-addresses-only.csv.zip</Key><LastModified>2015-03-31T14:[...]
- request:
    method: get
    uri: https://s3-eu-west-1.amazonaws.com/<MONGOID_ENVIRONMENT>.openaddressesuk.org/open_addresses_database/2014-03-31-openaddressesuk-full-split.csv.zip?acl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS <AWS_ACCESS_KEY>:WSbELT+R/VhKygiOInoT88LCdDA=
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 02578723FC4EF9D7
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>6ebddfb040c4de581424d5a5896f3df8cd8cc0678725054d612ebda6746cf958</ID><DisplayName>tech</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>6ebddfb040c4de581424d5a5896f3df8cd8cc0678725054d612ebda6746cf958</ID><DisplayName>tech</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant></AccessControlList></AccessControlPolicy>
  recorded_at: Tue, 31 Mar 2015 14:55:25 GMT
recorded_with: VCR 2.9.3
