---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<LEGATO_OAUTH_CLIENT_ID>&client_secret=<LEGATO_OAUTH_SECRET_KEY>&grant_type=refresh_token&refresh_token=<LEGATO_OAUTH_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.XwHCgnvTFaN3jjuhNhJBIR8gkqxgftykVf_1811gZb1JCEWBmBvo5B5NG-aJfnOTdGmID-jJbuoTZw",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwHCgnvTFaN3jjuhNhJBIR8gkqxgftykVf_1811gZb1JCEWBmBvo5B5NG-aJfnOTdGmID-jJbuoTZw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/QyBJPt-f7YJ21AralFikrzdPGNM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#accounts","username":"stuart.harrison@theodi.org","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"34573394","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/34573394","name":"Open
        Data Institute","permissions":{"effective":["COLLABORATE","EDIT","MANAGE_USERS","READ_AND_ANALYZE"]},"created":"2012-09-05T15:29:13.591Z","updated":"2015-03-25T21:28:03.553Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/34573394/webproperties"}},{"id":"55858108","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108","name":"Open
        Addresses Ltd.","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-10-17T09:27:52.754Z","updated":"2015-04-07T17:19:23.642Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties"}}]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwHCgnvTFaN3jjuhNhJBIR8gkqxgftykVf_1811gZb1JCEWBmBvo5B5NG-aJfnOTdGmID-jJbuoTZw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/fpm9g66mJ-nMNKYFvX2br_5Lpio"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#webproperties","username":"stuart.harrison@theodi.org","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"UA-55858108-1","kind":"analytics#webproperty","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1","accountId":"55858108","internalWebPropertyId":"89135809","name":"Open
        Addresses","websiteUrl":"http://openaddressesuk.org","level":"STANDARD","profileCount":4,"industryVertical":"OTHER","defaultProfileId":"92622408","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-10-17T09:27:52.754Z","updated":"2015-01-08T09:43:01.491Z","parentLink":{"type":"analytics#account","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108"},"childLink":{"type":"analytics#profiles","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1/profiles"}},{"id":"UA-55858108-2","kind":"analytics#webproperty","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2","accountId":"55858108","internalWebPropertyId":"97107579","name":"Sorting
        Office","websiteUrl":"http://sorting-office.openaddressesuk.org","level":"STANDARD","profileCount":1,"industryVertical":"OTHER","defaultProfileId":"101259804","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2015-04-22T14:48:44.094Z","updated":"2015-04-22T14:48:46.561Z","parentLink":{"type":"analytics#account","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108"},"childLink":{"type":"analytics#profiles","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2/profiles"}}]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwHCgnvTFaN3jjuhNhJBIR8gkqxgftykVf_1811gZb1JCEWBmBvo5B5NG-aJfnOTdGmID-jJbuoTZw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/vFQPUEBTxJAwGQeIFlU58IzlfSw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#profiles","username":"stuart.harrison@theodi.org","totalResults":1,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"101259804","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2/profiles/101259804","accountId":"55858108","webPropertyId":"UA-55858108-2","internalWebPropertyId":"97107579","name":"All
        Web Site Data","currency":"USD","timezone":"Etc/GMT","websiteUrl":"http://sorting-office.openaddressesuk.org","type":"WEB","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2015-04-22T14:48:45.066Z","updated":"2015-04-22T14:48:45.066Z","eCommerceTracking":false,"parentLink":{"type":"analytics#webproperty","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2"},"childLink":{"type":"analytics#goals","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-2/profiles/101259804/goals"}}]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/data/ga?dimensions=ga:pagePath,ga:date&end-date=2015-04-23&fields=columnHeaders/name,rows,totalResults,totalsForAllResults&filters=ga:pagePath=~%5C/address&ids=ga:101259804&metrics=ga:pageviews&sort=ga:date&start-date=2015-04-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwHCgnvTFaN3jjuhNhJBIR8gkqxgftykVf_1811gZb1JCEWBmBvo5B5NG-aJfnOTdGmID-jJbuoTZw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/1v9F3pCTJzcSL6CLymIn1Gu9yTE"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"totalResults":1,"columnHeaders":[{"name":"ga:pagePath"},{"name":"ga:date"},{"name":"ga:pageviews"}],"totalsForAllResults":{"ga:pageviews":"3000"},"rows":[["/address","20150423","3000"]]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
recorded_with: VCR 2.9.3
