---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<LEGATO_OAUTH_CLIENT_ID>&client_secret=<LEGATO_OAUTH_SECRET_KEY>&grant_type=refresh_token&refresh_token=<LEGATO_OAUTH_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.XwFKHqi1bBSDW7_HvrbqblAtQjYXhRZymOTpKLkFRim6GZvdPD5AwyMRMtrI2gbBj-Hnv1gqco05TQ",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwFKHqi1bBSDW7_HvrbqblAtQjYXhRZymOTpKLkFRim6GZvdPD5AwyMRMtrI2gbBj-Hnv1gqco05TQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/QyBJPt-f7YJ21AralFikrzdPGNM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#accounts","username":"stuart.harrison@theodi.org","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"34573394","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/34573394","name":"Open
        Data Institute","permissions":{"effective":["COLLABORATE","EDIT","MANAGE_USERS","READ_AND_ANALYZE"]},"created":"2012-09-05T15:29:13.591Z","updated":"2015-03-25T21:28:03.553Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/34573394/webproperties"}},{"id":"55858108","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108","name":"Open
        Addresses Ltd.","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-10-17T09:27:52.754Z","updated":"2015-04-07T17:19:23.642Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties"}}]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/~all/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwFKHqi1bBSDW7_HvrbqblAtQjYXhRZymOTpKLkFRim6GZvdPD5AwyMRMtrI2gbBj-Hnv1gqco05TQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/11fM82vijmtZ2DGWJpzKR4bXDPk"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#profiles","username":"stuart.harrison@theodi.org","totalResults":5,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"92622408","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1/profiles/92622408","accountId":"55858108","webPropertyId":"UA-55858108-1","internalWebPropertyId":"89135809","name":"http://openaddressesuk.org","currency":"GBP","timezone":"Europe/London","websiteUrl":"http://openaddressesuk.org","type":"WEB","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-10-17T09:27:52.754Z","updated":"2015-01-08T10:00:26.712Z","eCommerceTracking":false,"parentLink":{"type":"analytics#webproperty","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1"},"childLink":{"type":"analytics#goals","href":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1/profiles/92622408/goals"}},{"id":"96063036","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/55858108/webproperties/UA-55858108-1/profiles/96063036","accountId":"558581[...]
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/data/ga?dimensions=ga:pagePath,ga:date&end-date=2015-04-23&fields=columnHeaders/name,rows,totalResults,totalsForAllResults&filters=ga:pagePath=~json$&ids=ga:96064978&metrics=ga:pageviews&sort=ga:date&start-date=2015-04-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.XwFKHqi1bBSDW7_HvrbqblAtQjYXhRZymOTpKLkFRim6GZvdPD5AwyMRMtrI2gbBj-Hnv1gqco05TQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o-85COrcxoYkAw5itMLG4AKNpMY/L9Up0GGXTeqfztJjLt6lefgmd1w"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"totalResults":18,"columnHeaders":[{"name":"ga:pagePath"},{"name":"ga:date"},{"name":"ga:pageviews"}],"totalsForAllResults":{"ga:pageviews":"29"},"rows":[["/addresses/1D8Rvp.json","20150423","1"],["/addresses/92Po7E.json","20150423","1"],["/addresses/Cc61WP.json","20150423","1"],["/addresses/EYkC8L.json","20150423","1"],["/addresses/I3nYkR.json","20150423","1"],["/addresses/ODK23N.json","20150423","1"],["/addresses/TMn29z.json","20150423","1"],["/addresses/VDtibW.json","20150423","1"],["/addresses/Z1uZf5.json","20150423","2"],["/addresses/aY4CdX.json","20150423","1"],["/addresses/iRsMSV.json","20150423","1"],["/addresses/qMTHAO.json","20150423","1"],["/addresses/rFKcKp.json","20150423","1"],["/addresses/rYwoGk.json","20150423","4"],["/addresses/siNTBi.json","20150423","1"],["/addresses/taJNzM.json","20150423","4"],["/addresses/wTQsAp.json","20150423","1"],["/postcodes/782tq8.json","20150423","5"]]}'
  recorded_at: Thu, 23 Apr 2015 00:00:00 GMT
recorded_with: VCR 2.9.3
