<div class='footer'>
  
  <div class='container'>
    
    <div class='row'>
      
      <div class='col-md-8'>
        
        <%= image_tag 'logo_white.png', alt:'Open Addresses', class:'logo' %>
        
        <address>
          Open Addressess Limited c/o BPE Solicitors LLP, St James' House, St James Square, Cheltenham, GL50 3PR
          <br>
          Company No. 09172118
          <br>
          <a href='/about/data/privacy/'>Privacy Policy</a>
        </address>
        
      </div>
      
      <div class='col-md-4'>
        <a href='https://twitter.com/OpenAddressesUK'>@OpenAddressesUK</a>
        <br>
        <a href='mailto:info@openaddressesuk.org'>info@openaddressesuk.org</a>
      </div>
      
    </div>
    
  </div>
  
</div>