    <div class="wrapper wrapper-black wrapper-footer">
      <div class="container">
        <div class='footer'>

          <div class="footer-logo">
            <%= image_tag 'logo_white.png', alt:'Open Addresses' %>
          </div>

          <address>
            Open Addresses Limited<br /> 
            c/o BPE Solicitors LLP<br />
            St James' House<br />
            St James Square<br />
            Cheltenham<br />
            GL50 3PR<br />
            Company No. 09172118
          </address>

          <ul class="footer-nav">
            <li><a href='/about/privacy/'>Privacy Policy</a></li>
            <li><a href='/about/terms/'>Terms &amp; Conditions</a></li>
          </ul>

          <ul class="footer-social-links">
            <li><i class='fa fa-twitter-square fa-lg'></i> <a href='https://twitter.com/OpenAddressesUK'>@OpenAddressesUK</a></li>
            <li><i class='fa fa-envelope-square fa-lg'></i> <a href='mailto:info@openaddressesuk.org'>info@openaddressesuk.org</a></li>
            <li><i class='fa fa-github-square fa-lg'></i> <a href='https://github.com/OpenAddressesUK'>github.com/OpenAddressesUK</a></li>
          </ul>

        </div>
      </div>
    </div>
