
/* Address Search */

.address-search-title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	opacity: .8;
	margin-top: 47px;
	margin-bottom: 50px;
	color: #383838;
}

.address-search label {
	display:none;
}

.address-search input {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 15px 10px;
	width: 28.2%;
	margin-right: 12px;
	border-:1px solid #b4b4b4;
	@include mq(wide) {
		width: 28.5%;
	}
	@include mq(smartphone) {
		width:100%;
		margin-bottom: 12px;
		display:block;
	}
}

.address-search button {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 15px 10px;
	width:10%;
	background:$orange;
	border:0;
	color:white;
	border-radius:10px;
	font-weight:600;
	@include mq(smartphone) {
		float:right;
		width:auto;
		margin-bottom: 12px;
	}
}

.address-search-address-submit-form {
	display: none;
}

.address-search-results-title {
	color:$purple;
	font-weight:300;
	font-size:42px;
	display:inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
}

.address-search-results-map {
	float: right;
	@include mq(smartphone) {
		float:none;
	}
}

.address-search-results-list {
	list-style:none;
	padding:0;
	padding-right: 475px;
	@include mq(smartphone) {
		padding:0;
	}
}

.address-search-results-list li {
	padding:10px;
}

.address-search-results-list li:before {
	content:"";
	width:19px;
	height:23px;
	background:$orange;
	float:left;
	background:url(address-list-bullet.png) left top no-repeat;
	margin-right: 10px;
}

.address-search-results-list li:nth-child(odd) {
	background:#f1f1f1;
}

.address-search-alt-button {
	background:$purple;
	padding: 1px 4px 2px 7px;
	border-radius:3px;
	color:white;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	bottom: 3px;
}

.address-search-address-submit-cta {
	background:#f0e0d9;
	padding:20px;
	margin-bottom:15px;
	clear: both;
}

.address-search-address-submit-cta a {
	cursor:pointer;
}

.address-error {
	display:none;
	background:purple;
	padding: 8px 21px;
	color:white;
	border-radius: 10px;
}
.address-search-address-submit-form .address-error {
	width: 50%;
}

.address-submission-form {
	padding:20px;
	background:#F4EEEB;
	@include mq(smartphone) {
		margin-bottom:15px;
	}
}

.address-submission-form label {
	display: block;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.4;
	color:$purple;
	margin-bottom: 15px;
}

.address-submission-form textarea {
	border:0;
	width: 81%;
	margin-right: 10px;
	min-height: 170px;
	@include mq(smartphone) {
		width:100%;
	}
}

.address-search-address-submit-form .address-submission-form textarea {
	width: 50%;
	@include mq(smartphone) {
		width: 100%;
	}
}

.address-submission-form button {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 15px 21px;
	position: relative;
	bottom: 20px;
	background: #ff6700;
	border: 0;
	color: white;
	border-radius: 10px;
	font-weight: 600;
	cursor:pointer;
	@include mq(smartphone) {
		float: right;
		margin-top: 33px;
	}
}

#submission-guidelines {
	width:auto;
	@include mq(smartphone) {
		margin-top: 70px;
	}
}
.address-search-address-submit-form #submission-guidelines {
	width: 50%;
	@include mq(smartphone) {
		width:auto;
		margin-top: 70px;
	}
}

.address-view {
	@include is-row();
	.address, .map {
		@include is-col(2);
	}
	.map {
		padding: 25px;
	}
}

.submit-wrapper {
	@include is-row();
}
