
/* Case study */

.case-study {
	clear:both;
	color:white;
	padding-top:80px;
	padding-bottom:80px;
}

.case-study h2 {
	font-size: 44px;
	font-weight: 200;
	margin-top: 8px;
	color:$purple;
}

.case-study p {
	font-size:14px;
	width:50%;
}

.case-study .case-study-gfx {
	float:right;
}