
/* Content */

.content {
	width:700px;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	margin:0 auto;
  padding-top: 50px;
  padding-bottom: 22px;
  @include mq(smartphone) {
    padding-top:40px;
    font-size:14px;
    width:auto;
  }
}

.content img {
  max-width:100%;
}

.content img[title="feature-image"] {
  width: 900px;
  margin-left: -100px;
  margin-bottom: 1.6em;
  max-width:none;
}

.content img[title="image-center"] {
  display:block;
  margin:0 auto;
  margin-bottom:20px;
}

.content img[title="image-left"] {
  width: 50%;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
}

.content img[title="image-right"] {
  width: 50%;
  float:right;
  margin-left:20px;
  margin-bottom:20px;
}

.content h1 {
 font-weight: 300;
 font-size: 2.2em;
 color: #8c005b;
 line-height: 1.4;
 margin-bottom: 0.35em;
}

.content h2 {
  margin-top: 1.4em;
}

.content h3 {
  color: #8c005b;
  margin-bottom: 0.8em;
  margin-top: 1.6em;
}

.content h3 + p {
  margin-top: 0;
}

.content pre {
  display: block;
  padding: 20px;
  margin: 0 -20px 10px -20px;
  font-size: 0.7em;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  @include mq(smartphone) {
    margin: 0 0 10px 0;
  }
}

.content blockquote {
  color:$orange;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  clear:both;
}



.content-meta {
  border-top: 2px solid #ddd;
  display: inline-block;
  opacity: .5;
  padding-top: 0.5em;
  margin-bottom: 1.4em
}


.share-links {
  list-style:none;
  padding:0;
  border-top:2px solid #ddd;
  padding-top:40px;
  margin-top: 41px;
  width: 700px;
  margin: 0 auto;
  margin-bottom:50px;
  @include mq(smartphone) {
    width:auto;
  }
}

.share-links li {
  display:inline-block;
  margin-right: 7px;
}

.share-links li a {
  width:50px;
  height:50px;

  background: $orange;
  display:inline-block;
  color: darken($orange, 20%);
  @include transition(color .3s);
  border-radius:50px;
  font-size: 1.6em;
  font-family: "Soho W01 Medium";
  text-align: center;
  padding-top: 11px;

}

.share-links li a:hover {
  color: #fff;
}


.post-list-item {
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 37px;
}

.post-list-item:last-child {
  border-bottom: 0;
  padding-bottom: 40px;
}

.post-list-item-title {
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.8em;
}

.post-list-item-meta {
  opacity: .5;
  margin-top: -0.5em;
  margin-bottom: 1.3em;
}


.content h1.article-list-title,
.content h1.team-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  opacity: .8;
  margin-top: 47px;
  margin-bottom: 50px;
  color:#383838;
}


.content > p:nth-of-type(1) {
  font-weight: 600;
}

.content-below-scenario > p:nth-of-type(1) {
  font-weight: 500;
}


.content strong {
  font-weight: 600;
}


.content li {
  margin-bottom: 0.4em;
}

.content {
  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  ul li { 
    padding-left: 1em; 
    text-indent: -.7em;
  }

  ul li:before {
    content: "•";
    color: #ff6700;
    padding-right: 0.3em;
    font-size: 1.8em;
    line-height: 0;
    position: relative;
    top: 6px;
  }
}

.content .team-member {
  margin-bottom: 4em;
}


.content .team-member h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.content .team-member .thumbnail {
  max-width: 290px;
  float: left;
  margin-left: -100px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content .team-member .thumbnail img {
  min-width:290px;
  max-width: 100%;
}
