
/* Home CTAs */

.home-cta {
	position: relative;
	min-height: 1px;
	padding-right: 30px;
	padding-left: 30px;
	float:left;
	width:33.333333%;
	text-align:center;
	padding-top:80px;
	padding-bottom:80px;
}

.home-cta h2 {
	font-size:18px;
}

.home-cta p {
	font-size:14px;
}