
/* Main navigation */

.navigation {
	float:right;
}

.navigation ul {
	list-style:none;
	padding:0;
}

.navigation > ul > li {
	display:inline-block;
	margin-left:20px;
}

.navigation > ul > li {
	position:relative
}

.navigation > ul > li > ul {
	display:none;
	background:#eee;
	position:absolute;
	top:100%;
	left:0;
	padding: 14px;
	width: 220px;
	margin-top: 10px;
	margin-left: -13px;
	z-index:100;
}

.navigation > ul > li > ul > li {
	padding:0;
	margin:0;
	margin-bottom: 8px;
	font-size: 14px;
}
