<div class="alert alert-info" role="alert">
  <p><strong>Didn't find what you were looking for?</strong></p>
  <p>Why not <a data-toggle="collapse" data-target="#submit-form">submit an address?</a></p>
</div>

<div class="collapse" id="submit-form">
  <%= render 'static/_includes/submission_form' %>
</div>
