<div class="address-search-address-submit-cta" role="alert">
  <p><strong>Didn't find what you were looking for?</strong></p>
  <p>Why not <a>add an address?</a></p>
</div>

<div class="address-search-address-submit-form" id="submit-form">
  <%= render 'static/_includes/submission_form' %>
</div>
