<form action="/addresses" class="well form-inline" role="form">
	<div class="form-group">
		<div class="input-group">
			<label class="sr-only" for="street">Street</label>
			<input type="text" class="form-control" id="street" name="street" placeholder="Street">
		</div>
	</div>
	<div class="form-group">
		<label class="sr-only" for="town">Town</label>
		<input type="text" class="form-control" id="town" name="town" placeholder="Town or City">
	</div>
	<div class="form-group">
		<label class="sr-only" for="postcode">Postcode</label>
		<input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode">
	</div>
	<button type="submit" class="btn btn-primary">Search for addresses</button>
</form>

<h1>Results:</h1>

<ul>
<% @addresses.each do |address| %>

  <li><%= link_to address.full_address, address %></li>

<% end %>
</ul>

<%= paginate @addresses %>