<%= render 'address_submit' %>

<div id="map"></div>

<h1 data-latlng="<%= @address.postcode.lat_lng.to_a.join(",") %>">
	<% @address.full_address_lines.each do |line| %>
		<%= line %><br>
	<% end %>

	<%= alternate_link_buttons(class: 'btn btn-sm btn-primary') %>
</h1>
