@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "bootstrap-custom";
@import "bootstrap/variables";

.page-header {
  border-bottom: none;
  img {
    height: 70px;
  }
}

#mc_embed_signup div.mce_inline_error {
  /*
  We did this because Mailchimp is doing horrible things to the CSS
  */
  margin: 0 0 1em 0 !important;
  padding: 5px 10px !important;
  background-color: $brand-danger !important;
  font-weight: bold !important;
  z-index: 1 !important;
  color: #fff !important;
}

dt {
  margin-bottom: $padding-small-vertical;
  font-size: $font-size-large;
}

dd {
  margin-bottom: $padding-large-vertical;
}

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 200px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height + $navbar-height;
}

h1 {
  text-transform: uppercase;
}

.navbar-brand {

  a {
    margin-top: -$navbar-height / 2;
  }

  img {
    height: $navbar-height / 1.5;
  }
}

.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.home {

  > .container {
    margin-top: $navbar-height;
    margin-bottom: $navbar-height;
    font-size: $font-size-large;
  }

  img {
    width: 100%;
  }
}

.submission-form.form-horizontal .control-label {
  padding-top: 0;
}

.smallprint p {
  font-size: $font-size-small;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;

  background: $brand-primary;
  color: white;

  min-height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  .row {
    padding-top: $padding-large-vertical;
  }

  a {
    color: white;
  }

  .logo {
    height: 36px;
    margin-bottom: $padding-large-vertical;
  }
}

.breadcrumb {
  margin-top: $padding-large-vertical;
}

img.team-photo {
  width: 100%;
}

#search {
  width: 100%;
}

#search .form-group {
  width: 24%;
}

#search input {
  width: 100%;
}

#alpha-message {
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin: 0;
}

#addressproblem .alert p {
  font-size: 0.8em;
}
